.container{
    width: 100%;
    height: 100vh;
    min-height: 600px;
    background-color: #deefff;
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
}

.login-container{
    width: 60%;
    height: 80%;
    display: flex;
    flex-direction: row;
    min-height: 600px;
}

.input-side{
    width: 50%;
    height: 100%;
    background-color: #fff;
    border-radius: 0 10px 10px 0;
}

.padding{
    padding: 30px 20px;
}

.header{
    font-size: 2.0rem;
    font-weight: 500;
    margin-bottom: 15px;
}

.side-header{
    font-size: 1.4rem;
    margin-bottom: 15px;
}

.input-contain{
    display: flex;
    flex-direction: column;
    justify-content: flex-end;
    width: 100%;
    height: fit-content;
    margin-bottom: 10px;
}

.title{
    font-size: 1.6rem;
    padding-bottom: 10px;
    color: #18266b;
}

.input{
    height: 40px;
    padding-left: 10px;
    border-radius: 5px;
}

.img-contain{
    width: 100%;
    height: 10%;
    margin-top: 25px;
    display: flex;
    flex-direction: row;
}

.img-login{
    width: 156px;
    height: 150px;
    padding-right: 20px;
}

.btn-contain{
    width: 100%;
    height: 50px;
    margin-top: 20px;
    border-bottom: 2px solid #000;
}

.btn{
    width: 100%;
    height: 40px;
    background-color: #1062fa;
    color: #fff;
    font-size: 1.5rem;
    border-radius: 5px;
    cursor: pointer;

    &:hover{
        background-color: rgb(28, 3, 67);
    }
}

.logo-side{
    width: 50%;
    height: 100%;
    background-color: #f1707f;
    display: flex;
    justify-content: center;
    align-items: center;
    border-radius: 10px 0 0 10px;
}

.logo-img{
    width: 245px;
    height: 152px;
}

.header{
    color: #18266b;
}

.side-header{
    color: #6a6a6a;
}

.errors{
    font-size: 1.5rem;
    color: red;
}  