.container{
    width: 100%;
    height: 100vh;
    background-color: #deefff;
    display: flex;
    flex-direction: row;
}

.img-contain{
    display: flex;
    justify-content: center;
    width: 25%;
    height: 100%;
}

.logo-img{
    width: 245px;
    height: 152px;
    margin-top: 24px;
}

.choice-container{
    margin-top: 24px;
    width: 55%;
    border: 1px solid transparent;
    box-shadow: 0 2px 8px rgb(0 0 0 / 6%);
    display: flex;
    flex-direction: column;
    align-items: center;
}

.choice{
    width: 100%;
    height: 100%;
    display: flex;
    flex-direction: row;
}

.title{
    user-select: none;
    width: 100%;
    height: 20%;
    display: flex;
    align-items: center;
    justify-content: center;
    font-size: 3.0rem;
    font-weight: 700;
}

.student-choice{
    cursor: pointer;
    user-select: none;
    position: relative;
    background-image: url('../../assets/images/sinhvien.png');
    background-size: cover;
    background-repeat: no-repeat;
    width: 48%;
    height: 95%;
    border: 1px solid #fff;

    &::after{
        position: absolute;
        content: "Sinh viên";
        font-size: 2.5rem;
        font-weight: 600;
        right: 10px;
        bottom: 140px;
    }
}

.line{
    width: 4%;
    height: 95%;
    background-color: #fff;
}

.teacher-choice{
    cursor: pointer;
    user-select: none;
    position: relative;
    background-image: url('../../assets/images/giangvien.png');
    background-size: cover;
    background-repeat: no-repeat;
    width: 48%;
    height: 95%;
    border: 1px solid #fff;

    &::after{
        content: "Giảng viên - Viên chức";
        position: absolute;
        font-size: 2.5rem;
        font-weight: 600;
        left: 10px;
        bottom: 140px;
    }
}
