.container{
    width: 100%;
    height: 60px;
    background-color: #f1707f;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
}

.logo-contain{
    width: 20%;
    height: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
    border-right: 1px solid #deefff;
}

.img-logo{
    width: 108px;
    height: 57px;
}

.name-contain{
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    width: 155px;
    height: 100%;
    margin-right: 25px;
}

.name{
    color: #fff;
    font-size: 1.6rem;
    padding-left: 10px;
}

.user-icon{
    width: 25px;
    height: 25px;
}