.content-container{
    width: 90%;
    height: 600px;
    min-height: 500px;
    background-color: #fff;
}

.content{
    display: flex;
    flex-direction: column;
    align-items: center;
    padding-bottom: 20px;
}

.annoucement{
    width: 100%;
    height: max-content;
    margin: 10px 0;
    border-top: 5px dashed #d9d9d9;
    border-bottom: 5px dashed #d9d9d9;
}

.table{
    width: 100%;
    letter-spacing: 1px;
}

.table-header th{
    font-size: 1.7rem;
}

.table-content td{
    font-size: 1.5rem;
    font-weight: 500;
    text-align: center;
}

.select{
    width: 140px;
    height: 30px;
    font-size: 1.6rem;
    border-radius: 5px;
    margin-left: 5px;
}

.select-label{
    font-size: 1.7rem;
    font-weight: 500;
}
